#title{
    display: flex;
    justify-content: center;
    text-decoration: underline;
    margin-top: 5px
}

.clientInfoContainer{
    background-color: #7DBBC3;
    width: 84vw;
    height: fit-content;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.clientInfo{
    color: white;
    padding: 20px;
}

.workoutsContainer{
    margin-top: 20px;
    background-color: #7DBBC3;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 25px;
    max-width: 89vw;
    max-height: 55vh;
    overflow: auto;
}

.allWorkouts{
    /* display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap; */
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); /*Adjust column width */
    gap: 30px; /* Adjust gap between elements */
}

.buttonDiv{
    display: flex;
    justify-content: center;    
    margin-top: 30px;
}

.createButton{
    background-color: #148dd9;
    border: none;
    border-radius: 10px;
    padding: 5px 30px;
    font-size: 1.4rem;
    color: white;
}

.createButton:hover{
    background-color: #0068a9;
}

.oneWorkoutTab:hover{
    background-color: #148dd9;
}