@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');


.allRequests{
    background-color: #7DBBC3;
    padding: 15px;
    font: "Koulen" sans-serif;
    color: white;
}

.text-wrapper1{
    text-decoration: underline;
}