body{
    height: 100%;
    margin: 0;
}

.myCoach{
    width: 100%;
}

.container{
    padding: 1.3vw;
}

.coaches{
    width:100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
} */

.myCoach{
    width:100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-right: 20px;
    padding-left: 20px;
}

.myCoach-txt{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    font-family: "Koulen",sans-serif;
    margin-top: 10px;
}

.myCoach-txt{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}