#title{
    display: flex;
    justify-content: center;
    text-decoration: underline;
    margin-top: 5px
}

.clientInfoContainer{
    background-color: #7DBBC3;
    width: 100%;
    height: fit-content;
    margin-top: 20px;
}

.clientInfo{
    color: white;
    padding: 20px;
}

.workoutsContainer{
    margin-top: 20px;
    background-color: #7DBBC3;
    padding-top: 20px;
    padding-bottom: 25px;
    max-width: 100%;
    height: 60vh;
    overflow: auto;
}

.allWorkouts{
    /* display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap; */
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); /*Adjust column width */
    gap: 20px; /* Adjust gap between elements */
    margin-top: 2vh;
}


.buttonDiv{
    display: flex;
    justify-content: center;    
    margin-top: 6.5vh;
    position:initial ;
}

.createButton{
    background-color: #148dd9;
    border: none;
    border-radius: 10px;
    padding: 5px 30px;
    font-size: 1.4rem;
    color: white;
    transition: all 250ms;
}

.createButton:hover{
    background-color: #0068a9;
    transform: scale(1.03);
}

.oneWorkoutTab:hover{
    background-color: #148dd9;
}