@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');


.allRequestsss{
    background-color: #7DBBC3;
    width: 82vw;
    margin-left: 10px;
}


.text-wrapper1{
    color: white;
    margin-left: 10px;
}

